body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwt4lW_l8dwC06zLisxxzrOMNZAYwsx7yOMEx1ZTQhRw&s=10");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}